<link rel="stylesheet" type="text/css" href="/css/forgot_password.css">

<div class="resetContainer">
    <h2>Forgot Password</h2>
    <form action="/users/reset-password/?" method="POST">
        <input type="email" name="email" placeholder="Email address">
        <button type="submit" >Send mail</button>
    </form>
</div>