<link rel="stylesheet" type="text/css" href="/css/forgot_password.css">

<div class="resetContainer">
    <h2>Forgot Password</h2>
    <form method="POST"  action="/users/reset-password/<%= accessToken %>">
        <input type="email" name="email" placeholder="Email address">
        <button type="submit" >Send mail</button>
    </form>
</div>