<link rel="stylesheet" href="/css/google_signin.css">

<div id="divider">
    <hr>
    <span>or</span>
    <hr>
</div>

<a id="google-cont" href="/users/auth/google">
    <img src="https://cdn-icons-png.flaticon.com/512/720/720255.png">
    <p>Sign in / up with google </p>
</a>