<h2>Codial / <%= title %></h2>

<section id="feed-posts">
    
    <h3>Posts</h3>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="4" placeholder="write post here..."></textarea><br>
        <input type="submit" value="Post">
    </form>
</section>