<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1 style="color : lightblue">This is the Home page render by the EJS with title <%= title %></h1>
    </body>
</html>