<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        a{
            border: 1px solid gray;
            text-decoration: none;
            color: darkgreen;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 1px 1px 20px 1px lightgrey;
            margin: 20px;
            cursor: pointer;
            
        }
    </style>
    <title><%= title %> </title>
</head>
<body>
    <h1>Name : 
        <%= obj.name %> 
    </h1>
    <h3>Email : 
        <%= obj.email %> 
    </h3>
    
    <a href="/users/sign-out">SignOut</a>
</body>
</html>