<link rel="stylesheet" type="text/css" href="/css/reset_password.css">

<div class="resetContainer">
    <h2>Forgot Password</h2>
    <form>
        <input type="email" name="email" placeholder="Email address">
        <button type="submit" >Send mail</button>
    </form>
</div>