<link rel="stylesheet" type="text/css" href="/css/forgot_password.css">

<div class="resetContainer">
    <h2>Reset Password</h2>
    <form>
        <input type="password" name="password" placeholder="new password">
        <input type="password" name="confirm-password" placeholder="confirm new password">
        <button type="submit" >RESET</button>
    </form>
</div>
