<link rel="stylesheet" href="/css/users_posts.css">
<!-- This is the layout Which is auto set to the Main LAYOUT FILE -->
<h1>
    Codial / Profile Page
</h1>

<div>
    <p>
        <%= profile_user.name %> 
    </p>
    <p>
        <%= profile_user.email %> 
    </p>
</div>