<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/user_sign_in.css">
	<title><%= title %></title>
</head>
<body>

	
		
	<form class="signIn">
		<h1 id="head">Sign In</h1>
		<input type="email" id="email" name="email" placeholder="xyz@example.com">
		<input type="password" id="pass" name="pass" placeholder="Password">
		<button type="submit">SignIn</button>
	</form>
	
</body>
</html>