<link rel="stylesheet" href="/css/users_profile.css">

<h1>
    Codial / Profile Page
</h1>

<div>
    <p>
        <%= profile_user.name %> 
    </p>
    <p>
        <%= profile_user.email %> 
    </p>
</div>