#feed-posts{
    font-family: sans-serif;
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    h3{
        font-size: 2.2rem;
        margin: 5px;
        color: #292727;
    }
    #content{
        padding: 10px 18px;
        line-height: 1.2rem;
        outline: none;
        border: .6px solid #cac6c6;
        border-radius: 15px;
        box-shadow: 1px 1px 3px 2px rgb(226, 224, 224);
        font-size: 1rem;
    }
    #post-btn{
        background-color: #1c6097;
        border-radius: 5px;
        padding: 5px 30px;
        margin: 10px;
        margin-left: 0px;
        font-size: 1.2rem;
        outline: none;
        cursor: pointer;
        border: 0px;
        box-shadow: 1px 1px 5px 2px lightgrey;
    }

}
//======================================================
#comment-container{
    margin-top: 50px;
    padding: 10px;
    // border-top: 1px solid lightgre;
    #tag{
        margin: 5px;
        color:darkslategrey
    }
    #post-comments-list{
        padding-left: 20px;

        .comment{
            display: flex;
            margin: 10px;
            border-bottom: 1px solid lightgrey;
            h4{
                color: #3a9ae9;
                margin: 2px;
            }
            p{
                color: #c7c5c5;
                margin: 2px;
            }

        }
    }

}


// ======================================================
#posts{
    margin-left: 10px;
    display: inline-block;
    #post{
        border: 1px solid lightgrey;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #c7c5c5;
        max-width: 450px;
        padding: 8px 20px;
        margin: 20px 15px;
        #cont{
            margin: 5px;
        }
        #user{
            margin: 5px;
            color: grey;
        }
    }

}
// =====================================================
#comment-form{
    display: flex;
    justify-content: space-between;
    // border-top: 1px solid lightgrey;
    // padding-top: 10px;
    #content{
        width: 80%;
        line-height: 1.5rem;
        padding: 5px 8px 5px 15px;
        outline: none;
        border: 0px;
        font-size: 1.2rem;
    }
    #content::placeholder{
        font-size: 1.2rem;
        font-weight: 300;
        
    }
    #comment-btn{
        outline: none;
        border: 0px;
        background-color: white;
        font-size: 1.2rem;
        font-weight: 300;
        color: #3a9ae9;
        cursor: pointer;
    }
}

//=========================================================
#user-friends{
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 5%;
    font-size: larger;

    p{
        min-width: 150px;
        padding: 10px;
        box-shadow: 1px 1px 3px 2px lightgrey;
        border-radius: 10px;
        
        a{
            text-decoration: none;
            color: darkslategrey;
        }
    }
}