#_header {
  background-color: #0f3d3f;
  display: flex;
  justify-content: space-between;
  min-height: 50px; }
  #_header #logo {
    font-family: serif;
    font-size: 2.3rem;
    font-weight: bolder;
    color: #dbe8f3;
    padding: 2px 8px;
    margin-top: 12px; }
  #_header a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    margin: 10px; }
  #_header li {
    list-style: none;
    padding: 13px;
    min-height: 20px;
    padding-bottom: 10px; }
  #_header ul {
    display: flex; }
