main {
  min-height: 58vh !important; }

.resetContainer {
  width: 25%;
  margin: auto;
  margin-top: 16vh;
  text-align: center;
  padding: 20px 30px 70px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px grey; }
  .resetContainer form {
    display: flex;
    flex-direction: column; }
    .resetContainer form input, .resetContainer form button {
      margin: 10px 10px;
      height: 30px;
      border-radius: 10px;
      border: none;
      font-weight: bolder; }
    .resetContainer form button:hover {
      cursor: pointer;
      background-color: lightgreen;
      color: blue;
      font-weight: bolder;
      box-shadow: 1px 1px 1px 1px lightgrey; }
    .resetContainer form input {
      padding: 1px 15px;
      border: 1px solid lightgrey;
      color: grey; }
    .resetContainer form input:focus, .resetContainer form button:focus {
      outline: none; }
