#feed-posts {
  font-family: sans-serif;
  margin-left: 25px;
  display: inline-block;
  vertical-align: top; }
  #feed-posts h3 {
    font-size: 2.2rem;
    margin: 5px;
    color: #292727; }
  #feed-posts #content {
    padding: 10px 18px;
    line-height: 1.2rem;
    outline: none;
    border: .6px solid #cac6c6;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px #e2e0e0;
    font-size: 1rem; }
  #feed-posts #post-btn {
    background-color: #1c6097;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 10px;
    margin-left: 0px;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    border: 0px;
    box-shadow: 1px 1px 5px 2px lightgrey;
    width: 420px; }

#comment-container {
  margin-top: 50px;
  padding: 10px; }
  #comment-container #tag {
    margin: 5px;
    color: darkslategrey; }
  #comment-container .post-comments-list {
    padding-left: 20px; }
    #comment-container .post-comments-list .comment {
      display: flex;
      margin: 10px;
      border-bottom: 1px solid lightgrey; }
      #comment-container .post-comments-list .comment h4 {
        color: #3a9ae9;
        margin: 2px; }
      #comment-container .post-comments-list .comment p {
        color: #c7c5c5;
        margin: 2px; }

#posts {
  margin-left: 10px;
  display: inline-block; }
  #posts .post {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px #c7c5c5;
    max-width: 450px;
    padding: 8px 20px;
    margin: 20px 15px; }
    #posts .post #cont {
      margin: 5px; }
    #posts .post #user {
      margin: 5px;
      color: grey; }

.comment-form {
  display: flex;
  justify-content: space-between; }
  .comment-form #content {
    width: 80%;
    line-height: 1.5rem;
    padding: 5px 8px 5px 15px;
    outline: none;
    border: 0px;
    font-size: 1.2rem; }
  .comment-form #content::placeholder {
    font-size: 1.2rem;
    font-weight: 300; }
  .comment-form #comment-btn {
    outline: none;
    border: 0px;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 300;
    color: #3a9ae9;
    cursor: pointer; }

#user-friends {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 5%;
  font-size: larger;
  right: 0; }
  #user-friends p {
    min-width: 150px;
    padding: 10px;
    box-shadow: 1px 1px 3px 2px lightgrey;
    border-radius: 10px; }
    #user-friends p a {
      text-decoration: none;
      color: darkslategrey; }
